doctype html
html
  head
    title Email Verification
    style.
      body {
        font-family: 'Helvetica Neue', Arial, sans-serif;
        padding: 40px;
        background-color: #f4f4f4;
        color: #333;
      }
      .email-container {
        max-width: 600px;
        margin: 0 auto;
        background-color: #ffffff;
        padding: 20px 40px;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      }
      .info-box {
        background-color: #e6f7ff;
        padding: 15px;
        border: 1px solid #b3e0ff;
        margin-top: 20px;
        text-align: left;
        font-size: 18px;
      }
      a {
        display: inline-block;
        padding: 10px 20px;
        margin-top: 20px;
        background-color: #007BFF;
        color: #ffffff;
        text-decoration: none;
        border-radius: 4px;
      }
      h1, p {
        margin-bottom: 20px;
      }

body
    .email-container
      if lang == "fa"

        h1 پیام کاربر
        p ما خرسندیم که به اطلاع شما برسانیم مقاله شما با عنوان #{title} با موفقیت در پلتفرم ما ارسال شده است. در حال حاضر توسط تیم کارشناسان ما در حال بررسی است. ما قدردان تلاش و کوشش شما در به اشتراک گذاری دانش و بینش خود با جامعه ما هستیم.
        p لطفا توجه داشته باشید که فرآیند بررسی ممکن است کمی زمان ببرد زیرا ما به بالاترین استانداردهای کیفیت و ارتباط توجه می‌کنیم. پس از اتمام بررسی‌ها و در صورت نیاز به اقدامات بیشتر از طرف شما، از طریق ایمیل به شما اطلاع داده خواهد شد.
        p از اینکه پلتفرم ما را برای به نمایش گذاشتن کارتان انتخاب کرده‌اید، سپاسگزاریم. هیجان‌زده هستیم که شما را به عنوان بخشی از جامعه‌ی در حال رشد ما داشته باشیم.
        p با احترام,
        p همایش
      
      else

        h1 User Message
        p We are pleased to inform you that your article, titled #{title}, has been successfully submitted to our platform. It is currently under review by our team of experts. We appreciate your contribution and effort in sharing your knowledge and insights with our community.
        p Please note that the review process may take some time as we ensure the highest standards of quality and relevance. You will be notified via email once the review is complete and if any further steps are required from your end.
        p Thank you for choosing our platform to showcase your work. We are excited to have you as a part of our growing community.
        p Best regards,
        p hamayesh